* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row:after {
content: "";
display: table;
clear: both;
}

body {
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 600;
}

h1 {
font-size: 77px;
font-weight: 700;
}

h2 {
font-size: 40px;
}

h3 {
font-size: 25px;
}

h4,
h5 {
font-size: 16px;
}

.btn-short-blue {
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 8px 20px;
    font-size: 14px;
} 

/*************Classi layout****************/

.container-large {
max-width: 1367px;
width: 100%;
margin: auto;
}

.container {
max-width: 1010px;
width: 100%;
margin: auto;
}

[class*="col_"] {
float: left;
}

.col_1_9 {
width: calc(100% / 9);
}

.col_2_9 {
width: calc(100% / 9 * 2);
}

.col_3_9 {
width: calc(100% / 9 * 3);
}

.col_4_9 {
width: calc(100% / 9 * 4);
}

.col_5_9 {
width: calc(100% / 9 * 5);
}

.col_6_9 {
width: calc(100% / 9 * 6);
}

/*********HEADER*******/

nav {
position: fixed;
width: 100%;
background-color: white;
z-index: 99;
}

.nav-list-left, .nav-list-right {
    float: left;
    width: 50%;
}

.nav-list-right {
    text-align: right;
    padding-right: 25px;
}

nav ul {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    line-height: 80px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
}
nav .logo {
    vertical-align: text-bottom;
}

nav .btn-short-blue {
    margin-left: 25px;
}

/*********SECTION 1: HERO*********/

.section-1 {
    background-color: #B4D0E7;
    padding-top: 100px;
}

.move-down {
    position: relative;
    top: 80px;
}

.hero-content {
    padding-top: 40px;
}

.section-1 p {
    padding-bottom: 30px;
    padding-right: 80px;
}

.section-1 img {
    max-width: 100%;
}

.section-1 .annulla {
    padding-top: 15px;
    font-size: 14px;
}

.section-1 .arrow-down {
    padding-top: 50px;
}

.section-1 .btn-short-blue {
    font-size: 16px;
}

/*******SECTION-2*******/

.section-2 {
    padding-top: 200px;
}

.section-2 .invoice-pref {
    padding-top: 50px;
    padding-bottom: 30px;
}

.section-2 .invoice-pref label {
    margin-left: 4px;
    margin-right: 20px;
}

.section-2 .col_3_9 {
    }

.section-2 .col_3_9 .n-users-plan {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    text-align: center;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.section-2 .col_3_9 .plan-description {
    border: 1px solid lightgray;
    padding: 30px;
}

.section-2 .col_3_9 .plan-description h3 {
    padding-bottom: 15px;
}

.section-2 .col_3_9 .plan-description .p-month {
    padding-top: 10px;
    color: #637381;
}

.section-2 .col_3_9 .plan-description ul {
    padding: 40px 0;
    list-style-type: ;
    font-size: 14px;
}
.section-2 .col_3_9 .plan-description ul li {
    padding: 10px 0;
}





